#grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.column {
    border-style: solid;
    display: flex;
}

.gridsquare {
    height: 30px;
    width: 30px;
    color: azure;
    text-align: center;
    border-style: solid;
    background-color: azure;
    display: flex;
}

.gridsquare.active {
    background-color: black;
}